.home-route {
  .welcome {

    font-size: 14px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 9%;

    b {
      //font-weight: bold;
      color: #006B4E;
      text-transform uppercase;
    }
  }

  ul.nav-list {
    list-style none;
    padding 0 30px;

    li {
      position relative;
      height 55px;
      padding 10px 0 10px 66px;
      //line-height 54px;
      display table;
      width 100%;

      &:not(:last-child) {
        border-bottom 1px solid rgba(black, 0.08);
      }

      &.disabled {
        color #c6c6c6
      }

      img {
        position: absolute;
        top: 11px;
        left: 0;
      }

      .text {
        height 100%;
        display table-cell;
        vertical-align middle;
      }
    }
  }
}