.dual-nav-layout {
  height 100%;
  position relative;
  overflow hidden;

  & > .main {
    padding-top 54px;
    height 100%;
    position relative;
    left 0;

    & > .header {
      position absolute;
      top 0
      left 0;
      width 100%;
      height 54px;

      box-shadow: 0 0 10px 2px #D3D4D6;

      .left-toggle {
        position: absolute;
        top: 10px;
        left: 14px;
      }
      .right-toggle {
        position: absolute;
        top: 10px;
        right: 14px;
      }
    }
    & > .content {
      height 100%;
      overflow auto;
    }

    & > .main-overlay {
      display none;
      position: absolute;
      top: 0;
      left: 0;
      width 100%;
      height 100%;
      opacity 0;
      background black;
    }
  }


  & > .nav-container {

    & > .nav {

      position: absolute;
      top: 0;
      left: 0;
      width 80%;
      height 100%;
      background white;
    }
  }


  // Transition
  &.right-enter, &.right-exit, &.left-enter, &.left-exit {
    & > .main {
      transition left 300ms;

      &  > .main-overlay {
        display: block;
        transition opacity 300ms;
      }
    }
  }
  &.right-enter, &.right-exit {
    & > .nav-container  > .nav {
      left: 100%;
      transition left 300ms;
    }
  }
  &.left-enter, &.left-exit {
    & > .nav-container  > .nav {
      left: -100%;
      transition left 300ms;
    }
  }

  &.right-enter-active, &.left-enter-active {
    & > .main {
      & > .main-overlay {
        opacity 0.6;
      }
    }
  }
  &.right-enter-active {
    & > .main {
      left: -80%;
    }

    & > .nav-container  > .nav {
      left: 20%;
    }
  }
  &.left-enter-active {
    & > .main {
      left: 80%;
    }

    & > .nav-container  > .nav {
      left: 0;
    }
  }
}