.page-box {
  margin-bottom 15px;

  .header {
    position relative;

    color: #144633;
    font-size: 16px;
    padding: 10px 0 10px 32px;
    text-transform: uppercase;

    img {
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}